<h1>{{oneCube.name}}</h1>
<img class="cube" src="{{oneCube.imageUrl}}">
<div class="details">
  <p><span>Description:</span> {{oneCube.description}}</p>
  <p><span>Difficulty level:</span> {{oneCube.difficultyLevel}}</p>
  <div style="text-align: center">
    <a class="btn" href="/">Back</a>
    <a class="btn" href="/attachAccessory/{{oneCube._id}}">Attach Accessory</a>
    <a class="btn" href="/updateCube/{{oneCube._id}}">Update Cube</a>
    <a class="btn" href="/deleteCube/{{oneCube._id}}">Delete Cube</a>
  </div>
</div>

<h2>Accessories</h2>
<p>{{accessories}}</p>
<div class="accessories">
  {{#each accessories}}
  <div class="accessory">
    <img src="{{imageUrl}}" alt="stickerName">
    <h3>{{name}}</h3>
    <p>{{description}}</p>
  </div>
  {{else}}
  <h3 class="italic">This cube has no accessories yet...</h3>
  {{/each}}
</div>
